@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");

@font-face {
  font-family: "HeroicCondensed-Regular";
  src: url("../font/HeroicCondensed-Regular.eot");
  src: local("☺"), url("../font/HeroicCondensed-Regular.woff") format("woff"), url("../font/HeroicCondensed-Regular.ttf") format("truetype"), url("../font/HeroicCondensed-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton-Bold";
  src: url("../font/Panton-Bold.eot");
  src: local("☺"), url("../font/Panton-Bold.woff") format("woff"), url("../font/Panton-Bold.ttf") format("truetype"), url("../font/Panton-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.error-container {
  position: absolute;
  width: 100%;
  top: 24px;
  padding: 0 20px;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-window {
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  max-width: 401px;
  min-height: 40px;
  left: 480px;
  top: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF5286;
  -webkit-box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.error-window p {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}

.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-long {
  width: 100%;
  padding: 0 24px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row .col {
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-centr {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aling-centr {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

body {
  background: #292930;
}

button {
  -webkit-transition: 0.3s !important;
  -o-transition: 0.3s !important;
  transition: 0.3s !important;
  z-index: 1;
}

button:hover {
  background: rgba(253, 253, 253, 0.2) !important;
}

header {
  padding: 24px 0;
}

header .logo-img {
  width: 49px;
  height: 40px;
}

header span {
  font-family: "HeroicCondensed-Regular";
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 12px;
}

header button {
  font-family: "Panton-Bold";
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 12px 24px;
}

header .button-add {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 10px 24px;
  padding-right: 54px;
  position: relative;
}

header .button-add::after {
  content: url(../img/image1.png);
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

header .button-connect {
  margin-left: 16px;
}

header .button-mobile {
  display: none;
  margin-top: 25px;
}

.button-connect {
  font-family: "Panton-Bold";
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 12px 24px;
  background: -o-linear-gradient(212.64deg, #FF52A9 5.21%, #DF78E2 49.38%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF4D76 5.21%, #758FF6 91.17%);
  background: linear-gradient(237.36deg, #FF52A9 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%);
}

.main-content {
  padding: 70px 0;
}

.main-content .mobile-container {
  background: #41414B;
  display: none;
  padding: 0 20px !important;
}

.main-content .mobile-container .purchase-card {
  max-width: 100% !important;
  padding: 50px 0;
}

.main-content .mobile-container .button-connect {
  width: 100%;
  margin-top: 20px;
}

.main-content .img-container {
  position: relative;
  width: 500px;
  height: 450px;
}

.main-content .img-container img {
  width: 160%;
  height: auto;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content .counters {
  margin-top: 83px;
}

.main-content .counters > div {
  min-height: 94px;
  min-width: 200px;
}

.main-content .counters .sold,
.main-content .counters .contributions {
  padding: 16px 24px;
}

.main-content .counters .sold .name,
.main-content .counters .contributions .name {
  font-size: 10px;
  font-family: "Panton-Bold";
  color: #fff;
  letter-spacing: 0.04em;
}

.main-content .counters .sold .score,
.main-content .counters .contributions .score {
  font-family: "HeroicCondensed-Regular";
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  letter-spacing: -0.01em;
}

.main-content .counters .sold {
  background: -o-linear-gradient(191.95deg, rgba(168, 168, 222, 0.75) 0%, rgba(255, 82, 169, 0.2) 48.96%, rgba(117, 143, 246, 0) 100%);
  background: linear-gradient(258.05deg, rgba(168, 168, 222, 0.75) 0%, rgba(255, 82, 169, 0.2) 48.96%, rgba(117, 143, 246, 0) 100%);
  border: 0.25px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.main-content .counters .contributions {
  margin-left: 16px;
  background: -o-linear-gradient(191.95deg, rgba(117, 143, 246, 0) 0%, rgba(255, 82, 169, 0.2) 48.96%, rgba(168, 168, 222, 0.75) 100%);
  background: linear-gradient(258.05deg, rgba(117, 143, 246, 0) 0%, rgba(255, 82, 169, 0.2) 48.96%, rgba(168, 168, 222, 0.75) 100%);
  border: 0.25px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.main-content .limited-col {
  max-width: 480px;
}

.main-content .mobile-col {
  display: none;
  margin-bottom: 50px;
}

.main-content .mobile-col .img-container {
  width: 100%;
}

.main-content .main-text h1 {
  font-family: "HeroicCondensed-Regular";
  font-weight: bold;
  font-size: 80px;
  letter-spacing: -0.04em;
  color: #fff;
}

.main-content .main-text h1 span {
  background-image: -o-linear-gradient(209.18deg, #FF52A9 -3%, #DF78E2 37.2%, #758FF6 75.23%), -o-linear-gradient(212.64deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF4D76 5.21%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF9AB1 5.21%, #B3ABD7 91.17%);
  background-image: linear-gradient(240.82deg, #FF52A9 -3%, #DF78E2 37.2%, #758FF6 75.23%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%), linear-gradient(237.36deg, #FF9AB1 5.21%, #B3ABD7 91.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content .main-text p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  padding: 40px 0;
}

.main-content .main-text p .white {
  color: #fff;
}

.main-content .main-text p a {
  color: #FF52A9;
  text-decoration: none;
}

.main-content .main-text p a::after {
  margin-left: 8px;
  content: url(../img/Arrow.svg);
  width: 15px;
  height: 6px;
}

.main-content .price-table {
  width: 100%;
}

.main-content .price-table .line {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #646464;
}

.main-content .price-table .line p {
  font-family: "Panton-Bold";
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 13px;
}

.main-content .price-table .line .price {
  min-width: 130px;
}

.main-content .price-table .line .value {
  margin-left: 70px;
}

.main-content .purchase-card {
  width: 100%;
  background: #41414B;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 20px 30px;
  margin-top: 50px;
}

.main-content .purchase-card form .input-block {
  margin-bottom: 24px;
}

.main-content .purchase-card form .input-block .input-container {
  width: 100%;
  position: relative;
}

.main-content .purchase-card form .input-block input {
  display: block;
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 6px 10px;
  padding-right: 60px;
  background: #34343D;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'Manrope', sans-serif;
  color: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  z-index: 1;
}

.main-content .purchase-card form .input-block .input-container::before {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(0.52deg, #758FF6 0%, #DF78E2 50%, #FF52A9 100%);
  background: linear-gradient(89.48deg, #758FF6 0%, #DF78E2 50%, #FF52A9 100%);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  z-index: 0;
}

.main-content .purchase-card form .input-block .input-container::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: -o-linear-gradient(0.52deg, #758FF6 0%, #DF78E2 50%, #FF52A9 100%);
  background: linear-gradient(89.48deg, #758FF6 0%, #DF78E2 50%, #FF52A9 100%);
  background: transparent;
}

.main-content .purchase-card form .input-block button {
  position: absolute;
  right: 3px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: "Panton-Bold";
  z-index: 10;
  background: #1D1D20;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 50px;
  height: 30px;
  padding: 3px 0;
}

.main-content .purchase-card form .input-block button::after {
  content: 'MAX';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: transparent;
  z-index: 1;
  background-image: -o-linear-gradient(209.18deg, #FF52A9 -3%, #DF78E2 37.2%, #758FF6 75.23%), -o-linear-gradient(212.64deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF4D76 5.21%, #758FF6 91.17%), -o-linear-gradient(212.64deg, #FF9AB1 5.21%, #B3ABD7 91.17%);
  background-image: linear-gradient(240.82deg, #FF52A9 -3%, #DF78E2 37.2%, #758FF6 75.23%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%), linear-gradient(237.36deg, #FF9AB1 5.21%, #B3ABD7 91.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content .purchase-card form .input-block:focus-within .input-container::before {
  opacity: 1;
}

.main-content .purchase-card form p {
  font-family: "Panton-Bold";
  letter-spacing: 0.04em;
  color: #D0D0D0;
  font-size: 10px;
  margin-bottom: 6px;
}

.main-content .purchase-card form .value-price {
  font-family: "HeroicCondensed-Regular";
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 920px) {
  .main-content {
    padding: 40px 0;
  }

  .main-content .limited-col {
    margin: 0 auto;
  }

  .main-content .desktop-col {
    display: none;
  }

  .main-content .mobile-col {
    display: block;
  }

  .main-content .mobile-col .counters {
    margin-top: 0;
  }

  .main-content .main-text h1 {
    text-align: center;
  }

  .main-content .main-text p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  header .button-desktop {
    display: none;
  }

  header .button-mobile {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .main-content {
    padding-bottom: 0;
  }

  .main-content .mobile-container {
    display: block;
  }

  .main-content .container .purchase-card {
    display: none;
  }

  .main-content .limited-col {
    max-width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .main-content .counters > div {
    min-width: 160px;
  }

  .main-content .counters .sold,
  .main-content .counters .contributions {
    padding: 14px 14px;
  }
}

@media screen and (max-width: 450px) {
  .main-content .img-container {
    height: 370px;
  }
}